<!DOCTYPE html>
<html lang="ru">
<head>
    <title>АТОЛ Сервис</title>
    <meta charset="UTF-8">
    <link rel="icon"
          type="image/png"
          href="./images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=0" />
    <meta name="MobileOptimized" content="480" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="yandex-verification" content="7e2df9767f4b1ba1" />
    <meta name="description" content="" />
</head>
<body>
<div id="application_root"></div>
</body>
<script defer src="<%= htmlWebpackPlugin.options.build %>"></script>
</html>