.form__wrapper{
    max-width: 800px;
    margin: 0 auto;
}

.form__group-has_error .form__field{
    border-color: orangered;
    color: orangered;
}

.form__group{
    font-family: Helvetica, Arial;
    font-size: 14px;
    position: relative;
    margin: 15px 0;
}
.form__block{
    margin-bottom: 15px;
}
.form__block-horizontal {
     margin: 0 -4px 15px;
}
.form__block-horizontal {
    .form__group{
        width: 33.333%;
        float: left;
        box-sizing: border-box;
        padding: 0 4px;
    }
}
.form__block:after{
    content: "";
    display: block;
    clear: both;
}
.form__field{
    border: 1px solid #dcdcdc;
    display: block;
    width: 100%;
    min-height: 40px;
    line-height: 40px;
    font-size: 15px;
    box-sizing: border-box;
    padding: 0 10px;
}
textarea.form__field{
    line-height: normal;
    padding: 10px;
}
.form__label{
    padding: 5px 10px;
    color: #9b9b99;
    font-weight: bold;
    
}
.form__field[disabled]{
    background: #f3f4f5;
}

.form__error{
    color: #ff5a5f;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 5px;
}

.form__btn {
    height: 35px;
    padding: 0 20px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    border: none;
    cursor: pointer;
}
.form__btn-green{
    background: #6cd588;
}
.form__footer{
    border-top: 1px solid #dcdcdc;
    padding: 20px 0;
    text-align: right;
}
