
// Здесь могут быть глобальные какие-нибудь стили

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: 300;
  font-style: normal;
}

body {
  background: #f3f4f5;
}

h3 {
  font-size: 23px;
  text-align: center;
  color: #384045;
  margin-bottom: 36px;
}

h4 {
  font-size: 21px;
  color: #384045;
  margin-bottom: 8px;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  text-align: left;
  margin-top: 46px;
  margin-bottom: 20px;
}

h6 {
  font-size: 14px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 32px;
}
