

.breadCrumbs{
  margin-top: 16px;
  margin-bottom: 24px;
  padding: 0 18px;
}

.breadCrumbs--linkWrap{
  margin-right: 8px;
}

.breadCrumbs--link{
  color: #9b9b9b;
  font-size: 18px;
  text-decoration: underline;
}

.breadCrumbs--notLink{
  color: #9b9b9b;
  font-size: 18px;
}

.breadCrumbs--arrow{
  font-size: 18px;
  color: #9b9b9b;
  opacity: .5;
  margin-right: 8px;
}